html {
  box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gray-background {
  width: 100%;
  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.with-separator::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  padding-bottom: 18px;
  padding-top: 49px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  margin-bottom: 0;
  padding-left: 2px;

  list-style-type: none;
}

.main-navigation li:not(:last-child) {
  margin-right: 46px;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-logo {
  margin-right: 200px;
}

.site-logo img {
  display: block;
}

.site-logo:hover,
.site-logo:focus {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.3;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

.cart {
  margin-top: 26px;
  margin-left: auto;
  padding-left: 40px;
  background: 0 7px url("../img/cart-icon.svg") no-repeat;
}

.active {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.sliders {
  min-height: 415px;
  width: 100%;

  background-color: #eeeeee;
}

.sliders-overflow {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  overflow: hidden;
}

.all-slides {
  display: flex;
  width: 300%;
  transition: transform 0.3s;
}

.sliders b {
  display: inline-block;
  vertical-align: middle;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  margin-top: 60px;
  margin-bottom: 26px;
}

.sliders p {
  margin-top: 0;
  margin-bottom: 39px;
}

.sliders a {
  display: inline-block;
  vertical-align: middle;
  padding-left: 55px;
  padding-right: 55px;
}

.slider {
  min-height: 415px;
  min-width: 1200px;
  background: 431px 0 no-repeat;
}

.slider-1 {
  background-image: url("../img/slide-1.png");
}

.slider-2 {
  background-image: url("../img/slide-2.png");
}

.slider-3 {
  background-image: url("../img/slide-3.png");
}

.sliders-switch {
  display: flex;
  position: absolute;
  bottom: 98px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.sliders-overflow input[type="radio"] {
  display: none;
}

.sliders-overflow input[type="radio"] ~ .sliders-switch label {
  width: 18px;
  height: 18px;
  margin-right: 18px;

  border-radius: 50%;
  background-color: #ffffff;
}

.sliders-overflow input[type="radio"] ~ .sliders-switch label:last-child {
  margin-right: 0;
}

#slider-1:checked ~ .sliders-switch label[for="slider-1"],
#slider-2:checked ~ .sliders-switch label[for="slider-2"],
#slider-3:checked ~ .sliders-switch label[for="slider-3"] {
  background: 0 0 url("../img/slider-button.svg") no-repeat #ffffff;
}

#slider-1:checked ~ .all-slides {
  transform: translate(0);
}

#slider-2:checked ~ .all-slides {
  transform: translate(-1200px);
}

#slider-3:checked ~ .all-slides {
  transform: translate(-2400px);
}

.services {
  padding-top: 79px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.service-list li {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.service-list li:nth-child(3n) {
  margin-right: 0;
}

.service-list img {
  display: block;
  margin-bottom: 24px;
}

.service-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
}

.service-list p {
  width: 260px;
  margin-top: 0;
  margin-bottom: 32px;
}

.service-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 3px;

  padding: 16px 40px;

  background-color: #fb565a;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: #edc265;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.information-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 74px;
}

.information {
  width: 60%;
  min-width: 660px;
  padding-bottom: 48px;
}

.statistics {
  width: 30%;
  min-width: 360px;
  padding-bottom: 48px;
}

.information-lead {
  display: inline-block;
  vertical-align: middle;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 33px;
}

.information p {
  margin-top: 0;
  margin-bottom: 40px;
  width: 660px;
}

.information-offer {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24px;
}

.information-offer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.information-offer-list li {
  margin-bottom: 24px;
}

.information-offer-list li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  border: 1px solid #fb565a;

  margin-bottom: 5px;
  margin-right: 11px;
}

.statistics::before {
  content: "";
  display: block;
  height: 208px;
  background: 0 0 url("../img/nerds-illustration.jpg") no-repeat;
  margin-top: -35px;
  margin-bottom: 37px;
}

.statistics-start {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 36px;
}

.statistics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.statistics-list li {
  width: 105px;
  margin-right: 14px;
}

.statistics-list b {
  display: inline-block;
  vertical-align: middle;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

.statistics-list p {
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.statistics-list sup {
  position: relative;
  top: -18px;
  left: 1px;
  font-size: 50%;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.partners-list li {
  position: relative;
  width: 260px;
  height: 180px;
}

.partners-list li::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  position: absolute;
  top: 64px;
  right: -21px;

  border-right: 2px solid #eeeeee;
}

.partners-list li:last-child::after {
  border-right: none;
}

.partner-htmlacademy a {
  margin-top: 63px;
  margin-left: 31px;
}

.partner-borodinski a {
  margin-top: 46px;
  margin-left: 26px;
}

.partner-pink a {
  margin-top: 66px;
  margin-left: 38px;
}

.partner-mishka a {
  margin-top: 52px;
  margin-left: 45px;
}

.partners a {
  display: block;
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.footer {
  padding-bottom: 70px;
}

.address {
  position: relative;
  margin-top: 80px;
}

.inner-page .address {
  margin-top: 60px;
}

.address iframe {
  position: absolute;
  z-index: 5;
}

.address img {
  display: block;
  width: 100%;
  z-index: 0;
}

.address-details {
  position: absolute;
  top: 55px;
  left: 95px;
  padding: 47px 50px 47px;
  width: 319px;
  z-index: 7;

  background-color: #ffffff;
}

.address-details b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.address-details p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 0;
  margin-bottom: 18px;
}

/*.footer div::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 20px;*/
/*  left: 550px;*/
/*  width: 231px;*/
/*  height: 190px;*/

/*  background: 0 0 url(../img/map-marker.png) no-repeat;*/
/*}*/

.address .button {
  margin-top: 18px;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: flex-start;

  margin-top: 70px;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.socials-list li {
  margin-right: 12px;
}

.socials-list li:last-child {
  margin-right: 0;
}

.socials-list a {
  display: flex;
  width: 78px;
  height: 78px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.socials-list img {
  display: block;
  margin: auto;
}

.socials-list a:hover,
.socials-list a:focus {
  background-color: #e74246;
}

.socials-list a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials-list a:active img {
  opacity: 0.3;
}

.socials div {
  margin-top: 6px;
  margin-left: 142px;
}

.friendship-offer {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.sale {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 22px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: rgba(238, 238, 238, 0.8);
}

.modal-show {
  display: block;
  animation-name: appearance;
  animation-duration: 0.3s;
}

.write-to-us {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  padding: 30px 100px 80px;

  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
}

.write-to-us-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.write-to-us-form p {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
}

.write-to-us .message-field,
.write-to-us-form span {
  width: 100%;
}

.write-to-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  margin-bottom: 40px;
}

.write-to-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  margin-bottom: 10px;
}

.write-to-us input {
  width: 360px;
  padding: 13px;
}

.write-to-us input,
.write-to-us textarea {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  border: 2px solid #d7dcde;

  opacity: 0.5;

  outline: none;
}

.message-field {
  padding-top: 34px;
}

.message-field textarea {
  padding: 12px;
}

.write-to-us input:hover,
.write-to-us textarea:hover {
  border-color: #b4b9bb;
}

.write-to-us input:focus,
.write-to-us textarea:focus {
  border-color: #000000;
}

.write-to-us input:invalid {
  border-color: #e74246;
}

.write-to-us .button {
  margin-top: 47px;
  padding-left: 85px;
  padding-right: 85px;
}

@keyframes appearance {
  0% {transform: scale(1.5);
      opacity: 0.2;}
  20% {transform: scale(1.4);
      opacity: 0.4;}
  40% {transform: scale(1.3);
      opacity: 0.5;}
  60% {transform: scale(1.2);
      opacity: 0.7;}
  80% {transform: scale(1.1);
      opacity: 0.9;}
  100% {transform: scale(1);}
}

.modal-error .write-to-us {
  box-shadow: 0 0 5px 5px rgba(230, 53, 176, 0.8);
}

.modal-error .write-to-us input,
.modal-error .write-to-us textarea {
  box-shadow: 0 0 5px 5px rgba(230, 53, 176, 0.8);
}

.exit {
  position: absolute;
  top:75px;
  right: 88px;
  width: 21px;
  height: 21px;

  opacity: 0.3;

  border: none;
  background: 0 0 url("../img/close-cross.svg") no-repeat;
}

.exit:hover,
.exit:focus {
  opacity: 1;
}

.exit:active {
  opacity: 0.1;
}

.shop-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin-top: 0;
  margin-bottom: 54px;
  padding-top: 60px;
  padding-bottom: 110px;
  text-align: center;

  background-color: #eeeeee;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.site-to-go {
  width: 760px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  order: -1;
  width: 260px;
}

.form-wrapper fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.set-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 47px;
}

.form-wrapper p {
  margin-top: 0;
  margin-bottom: 0;
}

.form-wrapper .cost-toggler {
  position: relative;
  height: 80px;
  margin-bottom: 13px;

  border-radius: 3px;
  background-color: #eeeeee;
}

.cost {
  margin-bottom: 51px;
}

.cost-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cost-numbers label {
  padding-right: 8px;
  text-transform: uppercase;
}

.cost-field {
  width: 80px;
  padding: 12px 16px;
  text-align: center;

  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
}

.cost-field:last-child {
  margin-right: 0;
}

.cost-range {
  display: none;
}

.cost-toggler label::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  right: 80px;
  width: 20px;
  height: 23px;
  z-index: 5;

  background: 0 0 url("../img/filter-button.svg") no-repeat;
}

input[type="range"]:active ~ label::before {
  transform: translateX(65px);
}

.cost-toggler label::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 18px;
  width: 20px;
  height: 23px;
  z-index: 5;

  background: 0 0 url("../img/filter-button.svg") no-repeat;
}

.cost .cost-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 28px;
  width: 210px;
  height: 2px;

  background-color: #d7dcde;
}

.cost .cost-line::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 38px;
  width: 122px;
  height: 2px;

  background-color: #00ca74;
}

.grid-kind,
.features-option,
.cost {
  border: none;
}

.grid-kind .set-header,
.features-option .set-header {
  margin-bottom: 17px;
}

.grid-kind p,
.features-option p {
  font-size: 16px;
  line-height: 20px;
  color: #283136;

  margin-bottom: 20px;
}

.grid-kind label,
.features-option label {
  padding-left: 36px;
  position: relative;
}

.grid-kind {
  margin-top: 0;
}

.radio-input,
.checkbox-input {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;

  opacity: 0.4;
  background: 0 0 url("../img/radio-off.svg") no-repeat;
}

.radio-input:hover + label::before,
.radio-input:focus + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;

  opacity: 1;
  background: 0 0 url("../img/radio-off.svg") no-repeat;
}

.radio-input:disabled + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;

  opacity: 0.1;
  background: 0 0 url("../img/radio-off.svg") no-repeat;
}

.radio-input:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;

  background: 0 0 url("../img/radio-on.svg") no-repeat;
}

.checkbox-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 23px;
  height: 23px;

  opacity: 0.4;
  background: 0 0 url("../img/checkbox-off.svg") no-repeat;
}

.checkbox-input:hover + label::before,
.checkbox-input:focus + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 23px;
  height: 23px;

  opacity: 1;
  background: 0 0 url("../img/checkbox-off.svg") no-repeat;
}

.checkbox-input:disabled + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 23px;
  height: 23px;

  opacity: 0.1;
  background: 0 0 url("../img/checkbox-off.svg") no-repeat;
}

.checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 27px;
  height: 23px;

  outline: none;
  background: 0 0 url("../img/checkbox-on.svg") no-repeat;
}

.grid-kind p:last-child,
.features-option p:last-child {
  margin-bottom: 0;
}

.features-option {
  margin-top: 45px;
}

.form-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  border: none;
  margin-top: 49px;
  padding-top: 15px;
  padding-bottom: 15px;

  outline: none;

  background-color: #eeeeee;
}

.form-button:hover,
.form-button:focus,
.page-nav-button:hover,
.page-nav-button:focus {
  background-color: #dfdfdf;
}

.page-nav-button:hover,
.page-nav-button:focus {
  border-color: #dfdfdf;
}

.page-nav-button:active {
  border: none;
  border-top: 3px solid #bfbfbf;
  padding: 12px 19px 15px;

  background-color: #d5d5d5;
  box-shadow: inset 0 0 0 rgba(0, 1, 1, 0.1);
}

.form-button:active {
  color: #959595;

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.sorting-list ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.sorting-list b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting-list li:not(:last-child) {
  margin-left: 28px;
}

.sorting-list img:last-child {
  margin-left: 19px;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
  opacity: 0.6;
}

.sorting-list .current,
.sorting-list a:active {
  opacity: 1;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.templates-list li {
  margin-bottom: 33px;
}

.templates-list article {
  text-align: center;
  width: 360px;
  height: 616px;
  position: relative;
}

.templates-list article:hover,
.templates-list article:focus {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.templates-list article:hover .browser,
.templates-list article:focus .browser {
  opacity: 1;
}

.browser {
  height: 40px;
  background: 0 0 url("../img/browser.svg") no-repeat;
  opacity: 0.12;
}

.browser-hover {
  display: none;
  padding: 30px 80px 40px;
}

.template-item {
  display: flex;
  flex-direction: column;
}

.templates-list article:hover .browser-hover,
.template-item:focus + .browser-hover {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 360px;
  min-height: 231px;

  background-color: #eeeeee;
}

.browser-hover h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.browser-hover p {
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: -10px;
  margin-right: -10px;
}

.browser-hover .button {
  width: 100%;
}

.template-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.template-header:hover,
.template-header:focus {
  color: #fb565a;
}

.template-header:active {
  color: #000000;
  opacity: 0.3;
}

.templates-list p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination {
  margin-top: 29px;
  margin-left: 2px;
}

.page-nav-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 12px 16px;
  margin-right: 10px;
  border-radius: 3px;

  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.page-nav-button:last-child {
  margin-right: 0;
}

.pagination .next {
  padding-left: 73px;
  padding-right: 73px;
}

.current-button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border: 3px solid #dbdbdb;

  background-color: #ffffff;
}
